<link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>

<div class="container container-fluid mt-5">
    <div>


    <div class="expForm">
        <div>
            <div >
                
                <h2>{{provider_name}}</h2>
                <div class="expLogo"><img src="{{logo_url}}" /></div>
                <br>
                <h4>{{description}}</h4>
                <br>
                <h4>${{price}}</h4>
                
            </div>
        </div>
    </div>
</div>
<div class="expForm">
    <h2>Request an Experience!</h2>
    <div>
        
        <div><p><button class="btn btn-primary" onclick="Calendly.showPopupWidget('https://calendly.com/experience-next/60-minute-experience');return false;">Book today!</button></p></div>
        
    </div>    
</div>


