<div class="container container-fluid mt-5">
    <div>


    <div class="expForm">
        <div>
            <div >
                
                <h2>{{provider_name}}</h2>
                <br>
                <h4>{{description}}</h4>
                <br>
                <h4>${{price}}</h4>
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Request an Experience!</h2>
        <form class="requestForm" action="action_page.php">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="lname">Phone Number</label>
            <input type="text" id="pnumber" name="phonenumber" placeholder="***-***-****">

            <label for="subject">What would you like done?</label>
            <textarea id="subject" name="subject" placeholder="Experience Explanation" style="height:200px"></textarea>

            <button class="btn btn-primary" type="submit" onclick="clicked(event)">Request</button>

        </form>
</div>


