* {
  font-family: 'Comfortaa';
}

p {
  font-size: 1.5vw;
}

li {
  /* width: 47%; */
  padding: 5%;
  border: 1px solid black;
}

header, .project:not(:last-child) {
  border-bottom: 4px solid #ccc;
}

h1 {
  /* font-size: 600%; */
  font-size: 3vw; 
  font-weight: 700;
  color: grey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: slategray;
  border-radius: 4px;
}

h1 {
  /* font-size: 600%; */
  font-size: 3.1vw; 
  font-weight: 700;
  color: rgb(155, 76, 177);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(188, 189, 190);
  border-radius: 4px;
}

/* h1:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(155, 76, 177);
} */

h2 {
  color: rgb(158, 156, 156);
  font-size: 2.3vw;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(155, 76, 177)
}

h2 a {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(155, 76, 177);
  
}

nav a {
  font-weight: 700;
  font-size: 2.3vw;
  padding-left: 10px;
  color: black;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(62, 56, 56);
  background-color: transparent;
  border-radius: 4px;

}

nav a:hover {
  color: #142340;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(155, 76, 177);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: transparent;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.colorchange-id {
  animation: link-color-change 15s infinite;
}

.jumbotron {
  background-image: url('../img/maybe2.jpg');
  width: 100%;
  height: 100px;
  background-color: silver;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 2vw;
  border: none;
  outline: none;
  color: silver;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown-content {
  padding: 5px;
  font-size: 1.7vw;
  display: none;
  position: absolute;
  background-color: silver;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1.7vw;
}

.dropdown-content a:hover {
  color: black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(155, 76, 177);
  text-align: center;
  font-size: 1.7vw;
} 

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 1.7vw;
  color: black;
  }

.expBtn {
  background-color: transparent;
  color: rgb(196, 192, 192);
  font-size: 2.3vw;
  font-weight: 900;
  border: none;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(62, 56, 56);
  padding-right: 10px;
  padding-bottom: 10px;
  animation: link-color-change 15s infinite;
}

.expBtn:hover {
  color: black;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(155, 76, 177);
  
}

hr.dashed {
  border-top: 3px dashed slategrey;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.expForm {
  text-align: center;
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 

}

.expLogo {
  text-align: center;
  width: 100%; 
  padding: 12px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;  
}

ul.no-bullets {
  list-style-type: none;
}

li.borders {
  border-bottom: 1px solid black;
}

@keyframes link-color-change {
  0% {
    color: rgb(255, 255, 255);
  }
  8% {
    color: rgb(239, 213, 247);
  }
  15% {
    color: rgb(225, 156, 244);
  }
  20% {
    color: rgb(181, 127, 196);
  }
  25% {
    color: rgb(181, 127, 196);
  }
  40% {
    color: rgb(185, 107, 207);
  }
  50% {
    color: rgb(221, 134, 245);
  }
  75% {
    color: rgb(230, 186, 242);
  }
  85% {
    color: rgb(239, 213, 247);
  }
  100% {
    color: rgb(255, 251, 251);
  }
}